@import 'common/var';
@import 'common/fonts';
@import 'common/sprite';
@import 'common/clearfix';
@import 'common/container';
@import 'common/titles';
@import 'common/adaptive';
@import 'common/adaptive-pages';


/* BEM Blocks */
@import 'common/blocks/avatar';

/* Main Page*/
@import 'common/blocks/main-page-authorization-button';
@import 'common/blocks/main-page-widget-container';
@import 'common/blocks/about-widget';
@import 'common/blocks/authorization-widget';
@import 'common/blocks/main-page-footer';

/* About Page */
@import 'common/about';

/* Blog Page */
@import 'common/blog';

/* Works Page */
@import 'common/works';


@import 'common/adaptive-pages';

html {
	position: relative;
    min-height: 100%;
}

body {
	font-family: $font-simple-text;
	font-size: 16px;
	margin: 0 0 150px;
}

ul {
	list-style: none;
	padding: 0;
}

a, button {
	cursor: pointer;
	text-decoration: none;
	outline-style: none;
}

