.about-author-block
	.about-author-photoframe
		img.about-author__photo(src="/assets/img/photo-500.jpg" alt="photo")
	.about-author-name
		.about-author-fullname
			p.about-author-fullname__text Дарья Горяная
		.about-author-info
			p.about-author-info__text Личный сайт веб-разработчика