section.blog-content-block
	ul.blog-content__list
		li.blog-content__item
			article.blog-content-article
				.small-title
					p.small-title-p
				time.article-date
				.article
					p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat non exercitationem laboriosam vel accusamus doloremque, aut, delectus voluptatem minima necessitatibus. Odit, ea optio. Obcaecati tempora, repellat dicta voluptatem minima. Placeat.
Sunt et est eaque rerum quasi eos officiis nesciunt laborum, nihil quod tenetur, eligendi. Tempore corporis dicta voluptatum quos, adipisci suscipit ut hic, necessitatibus, eveniet natus rem perferendis voluptatibus velit.
Maxime quam recusandae odit asperiores rerum optio qui aspernatur quidem eius. Est dolorem molestiae itaque, ipsam, quos nihil aliquid nobis omnis. Modi in dolores quis recusandae culpa enim temporibus pariatur.
Libero deserunt obcaecati dignissimos numquam quisquam quidem veniam accusantium necessitatibus assumenda rem cum, facilis minus nesciunt voluptatem iste aliquid, ab fugit magnam, odio distinctio velit dicta accusamus consequatur. Accusantium, unde.
		li.blog-content__item
			article.blog-content-article
				.small-title
					p.small-title-p
				time.article-date
				.article
					p.article__p Libero deserunt obcaecati dignissimos numquam quisquam quidem veniam accusantium necessitatibus assumenda rem cum, facilis minus nesciunt voluptatem iste aliquid, ab fugit magnam, odio distinctio velit dicta accusamus consequatur. Accusantium, unde.
Facilis totam quasi non, soluta odio sed at accusamus explicabo culpa pariatur officia reprehenderit consequuntur accusantium dignissimos quaerat quisquam? Labore fugiat a deserunt asperiores porro libero, debitis inventore ea itaque!
Molestias atque inventore, ut hic perferendis. Natus libero mollitia ad, aperiam quo doloremque corporis dolor explicabo odio ex blanditiis itaque nemo eligendi temporibus harum, quos animi velit iusto laboriosam aliquam.
		li.blog-content__item
			article.blog-content-article
				.small-title
					p.small-title-p
				time.article-date
				.article
					p.article__p
		li.blog-content__item
			article.blog-content-article
				.small-title
					p.small-title-p
				time.article-date
				.article
					p.article__p