sidebar.sidebar
	ul.sidebar__list
		li.sidebar__item
			a.sidebar__link.sidebar__link_active(href="#") Самое важное в SASS
		li.sidebar__item
			a.sidebar__link(href="#") Приёмы вёрстки, без которых не обходится не один сайт
		li.sidebar__item
			a.sidebar__link(href="#") Самый необходимый набор Gulp плагинов
		li.sidebar__item
			a.sidebar__link(href="#") Почему я выбрала Pug (ex-Jade)