.content-about
	section.content-about-right
		.big-title
			p.big-title__p обо мне
		.content-about-right__contents
			.content-about-right__photoframe
				img.content-about-right__photo(src=""
					alt="This is author's photo")
			.small-title
				p.small-title-p кто я
			.descr
				p.descr-p Я веб разработчик из Киева. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p.descr-p Этот сайт я сделала в рамках обучения в школе оналйн образования LoftSchool.
	section.content-about-left
		.small-title
			p.small-title-p чем я могу быть вам полезна
		.descr
			p.descr-p Больше всего меня привлекает Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
		.skills-main-block
			ul.skills-main-list
				li.skills-main-list__item FrontEnd
					ul.skill-front__list
						li.skill-front__item HTML5
						li.skill-front__item CSS3
						li.skill-front__item JavaScript & jQuery
				li.skills-main-list__item BackEnd
					ul.skill-back__list
						li.skill-back__item PHP
						li.skill-back__item mySQL
						li.skill-back__item Node.js & npm
						li.skill-back__item MongoDB
				li.skills-main-list__item Workflow
					ul.skill-workflow__list
						li.skill-workflow__item Git
						li.skill-workflow__item Gulp
						li.skill-workflow__item Bower
	section.map#map
		address.contacts-block
			.small-title
				p.small-title-p контакты
		ul.contacts__list
			li.contacts__item
				a.contacts__link(href="skype:daria.goriana?call")
					span.skype-icon daria.goriana
			li.contacts__item
				a.contacts__link(href="mail:goriana.d@gmail.com")
					span.mail-icon goriana.d@gmail.com
			li.contacts__item
				a.contacts__link(href="tel:380991234567")
					span.phone-icon +38 099 123 45 67
			li.contacts__item
				a.contacts__link(href="#")
					span.location-icon г.Киев, ул.Михайловская, д.17/2




