.contact-block
	p.small-title-p связаться со мной
	form.contact-form(method="post")
		.contact-form__name
			input.contact-form__name-input#name-input(type="text"
				placeholder="Имя")
		.contact-form__mail
			input.contact-form__mail-input#mail-input(type="text"
				placeholder="Email")
		.contact-form__message
			textarea.contact-form__message#message(placeholder="Ваше сообщение")
		.contact-form__submit#submit-btn(type="submit"
			value="Отправить")
		.contact-form__reset#reset-btn(type="reset"
			value="Очистить")
