footer.footer-general
	.container
		.footer-upper
			nav.footer-upper-nav
				ul.footer-upper-nav__list
					li.footer-upper-nav__item
							a.footer-upper-nav__link(href="#").portfolio-link Мои работы
					li.footer-upper-nav__item
							a.footer-upper-nav__link(href="#").about-link Обо мне
					li.footer-upper-nav__item
							a.footer-upper-nav__link(href="#").blog-link Блог
					li.footer-upper-nav__item
							a.footer-upper-nav__link(href="#").authorization-link Авторизация

		.footer-lower
			.footer-lower-descr
				p.footer-lower-descr__left Я веб-разработчик из N, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
				p.footer-lower-descr__right &copy; Дарья Горяная | создано с любовью в Loftschool | 2016
			
