footer.footer-general
	.container
		.footer-upper
			nav.footer-upper-nav
				ul.footer-upper-nav-list
					li.footer-upper-nav-item
						a.footer-upper-nav__link(href="#").portfolio-link Мои работы
					li.footer-upper-nav-item
						a.footer-upper-nav__link(href="#").about-link Обо мне
					li.footer-upper-nav-item
						a.footer-upper-nav__link(href="#").blog-link Блог
					li.footer-upper-nav-item
						a.footer-upper-nav__link(href="#").authorization-link Авторизация
			include ../common/_socials-circle
		.footer-lower
			.footer-lower-descr
				p.footer-lower-descr__p Я веб-разработчик из Киева, и этот сайт я сделала в рамках обучения в Школе оналйн образования LoftSchool.
			include ../common/_footer-copyright			
