footer.footer-general
	.footer-upper
		nav.footer-upper-nav
			ul.footer-upper-nav__list
				li.footer-upper-nav__item
						a.footer-upper-nav__link(href="/works.html").portfolio-link Мои работы
				li.footer-upper-nav__item
						a.footer-upper-nav__link(href="/about.html").about-link Обо мне
				li.footer-upper-nav__item
						a.footer-upper-nav__link(href="/blog.html").blog-link Блог
				li.footer-upper-nav__item
						a.footer-upper-nav__link(href="#").authorization-link Авторизация

		.socials-footer
			ul.socials-footer__list
				li.socials-footer__item
					a.socials-footer__link.icon.icon-icon-vk-round(href="https://vk.com/kunitsa_koldunitsa" target="_blank")
				li.socials-footer__item
					a.socials-footer__link.icon.icon-icon-github-round(href="https://github.com/dar-g" target="_blank")
				li.socials-footer__item
					a.socials-footer__link.icon.icon-icon-in-round(href="https://www.linkedin.com/" target="_blank")

	.footer-lower
		.footer-lower-descr
			p.footer-lower-descr__left Я веб-разработчик из N, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
			p.footer-lower-descr__right &copy; Дарья Горяная | создано с любовью в Loftschool | 2016
		
