header.header-general.clearfix
	.socials-header
		ul.socials-header-list
			li.socials-header-item
				a.socials-header-item__link.icon.icon-vk(href="https://vk.com/kunitsa_koldunitsa" target="_blank")
			li.socials-header-item
				a.socials-header-item__link.icon.icon-github(href="https://github.com/dar-g" target="_blank")
			li.socials-header-item
				a.socials-header-item__link.icon.icon-in.icon-in_hover(href="" target="_blank")

	menu.hamburger-menu
		a.hamburger-menu__link.icon-hamburger(href="#")