section.map__wrapper
	.map#map
	address.contacts-block
		.small-title контакты
		ul.contacts__list
			li.contacts__item
				.icon__wrapper
					i.icon.icon-skype
				a.contacts__link(href="skype:daria.goriana?call") daria.goriana
			li.contacts__item
				.icon__wrapper
					i.icon.icon-envelope
				a.contacts__link(href="mail:goriana.d@gmail.com") goriana.d@gmail.com
			li.contacts__item
				.icon__wrapper
					i.icon.icon-phone
				a.contacts__link(href="tel:380991234567") +380991234567
			li.contacts__item
				.icon__wrapper
					i.icon.icon-map-marker-sm
				a.contacts__link(href="#") г.Киев, ул.Михайловская, д.17/2