.big-title
	p.big-title__p Что обо мне говорят
.quote-block
	.quote-block-right
		p.quote__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo modi eum doloremque maiores optio eaque impedit libero maxime animi, repudiandae natus officia quos rerum porro alias eius quia consequuntur.
		.quote-block__photoframe
			.quote-block__photo-1
		.quote-name
			p.quote-name__p Имя Фамилия
		.quote-position
			p.quote-position работает там-то
	.quote-block-left
		p.quote__p Hic dolor maxime reiciendis facere ipsum voluptas, cupiditate eveniet. Tenetur id, quae, et dicta provident esse inventore quos incidunt amet maiores excepturi praesentium pariatur culpa rem placeat laudantium...
		.quote-block__photoframe
			.quote-block__photo-2
		.quote-name
			p.quote-name__p Имя Фамилия
		.quote-position
			p.quote-position работает там-то