.slider-works
	.big-title
		p.big-title__p Мои работы
	ul.slider-works__list
		li.slider-works__item
			img.slider-works__pic.project-1(src="" alt="project#1 screenshot")
		li.slider-works__item
			img.slider-works__pic.project-2(src="" alt="project#2 screenshot")
		li.slider-works__item
			img.slider-works__pic.project-3(src="" alt="project#3 screenshot")
	ul.slider-works-switch__list
		li.slider-works-switch__item.project-1
		li.slider-works-switch__item.project-2
		li.slider-works-switch__item.project-3
	ul.slider-works-descr__list
		li.slider-works-descr__item.small-title-p.project-1 Название проекта 1
			p.slider-works-descr__p html, css, javascript
			a.slider-works-descr__link.project-1
		li.slider-works-descr__item.small-title-p.project-2 Название проекта 2
			p.slider-works-descr__p html, css, javascript
			a.slider-works-descr__link.project-2
		li.slider-works-descr__item.small-title-p.project-3 Название проекта 3
			p.slider-works-descr__p html, css, javascript
			a.slider-works-descr__link.project-3