.slider
	.slider__title-wrapper
		.big-title Мои работы
	.slider__wrapper
		a.slider__left-arrow.icon.icon-icon-arrow-gr_right
		ul.slider__list
			li.slider__item.project-1
				.slider__pic-wrapper
					img.slider__pic(src="/assets/img/bg/work-1.png" alt="project#1 screenshot")
				include _slider-switch
				.slider-descr
					.slider__small-title Сайт школы онлайн образования
					p.slider-descr__p html, css, javascript
					a.slider__link Посмотреть сайт
			li.slider__item.project-2
				.slider__pic-wrapper
					img.slider__pic(src="/assets/img/bg/work-2.png" alt="project#2 screenshot")
				include _slider-switch
				.slider-descr
					.slider__small-title Название проекта 2
					p.slider-descr__p html, css, javascript
					a.slider__link Посмотреть сайт
			li.slider__item.project-3
				.slider__pic-wrapper
					img.slider__pic(src="/assets/img/bg/work-3.png" alt="project#3 screenshot")
				include _slider-switch
				.slider-descr
					.slider__small-title Название проекта 3
					p.slider-descr__p html, css, javascript
					a.slider__link Посмотреть сайт
		a.slider__right-arrow.icon.icon-icon-arrow-gr_left