.socials-circle
	ul.socials-circle-list
		li.socials-circle-item
			a.socials-circle-item__link.vk(href="https://vk.com/kunitsa_koldunitsa")
		li.socials-circle-item
			a.socials-circle-item__link.git(href="https://github.com/dar-g")
		li.socials-circle-item
			a.socials-circle-item__link.linkedin(href="#")
