.socials
	ul.socials-list
		li.socials-item
			a.socials-item__link.vk(href="https://vk.com/kunitsa_koldunitsa")
		li.socials-item
			a.socials-item__link.git(href="https://github.com/dar-g")
		li.socials-item
			a.socials-item__link.linkedin(href="")
