.socials
	ul.socials-list
		li.socials-item
			a.socials-item__link.icon.icon-vk-gr.icon-vk-hover-gr(href="https://vk.com/kunitsa_koldunitsa" target="_blank")
		li.socials-item
			a.socials-item__link.icon.icon-github-gr.icon-github-hover-gr(href="https://github.com/dar-g" target="_blank")
		li.socials-item
			a.socials-item__link.icon.icon-in-gr.icon-in_hover-gr(href="" target="_blank")
