.socials
	ul.socials-list
		li.socials-item
			a.socials-item__link.icon.icon-icon-vk-gr.icon-icon-vk-gr_hover(href="https://vk.com/kunitsa_koldunitsa" target="_blank")
		li.socials-item
			a.socials-item__link.icon.icon-icon-github-gr.icon-icon-github-gr_hover(href="https://github.com/dar-g" target="_blank")
		li.socials-item
			a.socials-item__link.icon.icon-icon-in-gr.icon-icon-in-gr_hover(href="https://www.linkedin.com/" target="_blank")
