/* -------- CONTENT -------- */
.content-about {
	@extend %clearfix;
}

/* TEXT */
.descr{
	color: $dark-grey;
}
/* -------- CONTENT LEFT -------- */
.content-about-left {
	float: left;
	width: 50%;
	background: #efeee9;
	position: relative;
	min-height: 735px;
	padding-top: 50px;
}

.content-about-left__wrapper{
	@extend %clearfix;
}

.content-about-left__title{
	width: 45%;
	float: left;
}

.big-title__about {
	position: absolute;
	left: 50px;
	top: -20px;
}

.content-about-left__contents {
	width: 45%;
	float: right;
	margin-right: 20px;
		.content-about-left__photoframe {
			max-width: 440px;
			overflow: hidden;
		}
			.content-about-left__photo {
				width: 100%;
			}
}

.descr-p {
	line-height: 24px;
	font-family: $font-simple-text;
}
/* -------- CONTENT RIGHT -------- */
.content-about-right__wrapper{
	margin: 0 30px;
	.small-title {
		@import 'common/titles';
		line-height: 37px;
	}
}
.content-about-right {
	min-height: 735px;
	float: right;
	width: 50%;
	background: #eeebdf;
	padding-top: 50px;
}

/* SKILLS */
.skills-main-block {
	.skills-main-list__item {
		font-family: 'robotomedium';
		font-size: 28px;
		color: $dark-grey;
	}
}

.skill-front__list, .skill-back__list, .skill-workflow__list{
	font-size: 14px;
	color: $green;
}

.skill-front__item, .skill-back__item, .skill-workflow__item{
	display: inline-block;
}
