.blog-content__container {
	color: #fff;
	text-align: center;
	margin: 0 auto 130px;	
}


.blog__triangle {
	.triangle-svg {
		display: block;
		.triangle-svg-left, .triangle-svg-right {
			fill: #fff;
		}
	}
}
