.footer-general {
	background-color: $footer-color;
	width: 100%;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
	border-bottom: 2px solid $border-color;
	line-height: 24px;
		.footer-upper {
			border-bottom: 2px solid $border-color;
				.footer-upper-nav {
					.footer-upper-nav__list {
						padding-left: 0;
						.footer-upper-nav__item {
							display: inline-block;
							margin: 0 20px;
							&:first-child {
								margin-left: 30px;
							}
							.footer-upper-nav__link {
								color: #fff;
								&:hover {
									color: rgba(255, 255, 255, .5);
								}
							}
						}
					}				
				}
			}
		}
		.footer-lower {
			color: rgba(255, 255, 255, .5);
			margin: 0 30px;
				.footer-lower-descr{
					@extend %clearfix;
				}
					.footer-lower-descr__left {
						display: block;
						float: left;
						width: 500px;
					}
					.footer-lower-descr__right {
						display: block;
						float: right;
						text-align: right;
						width: 500px;
					}

}




