.socials-item{
	display: inline-block;
	margin: 10px;
}

.icon {
  display: inline-block;
  background-image: url(/assets/img/sprite.png);
}

.icon-icon-arrow-gr_left {
  background-position: -142px -46px;
  width: 18px;
  height: 29px;
}
.icon-icon-arrow-gr_right {
  background-position: -142px -17px;
  width: 18px;
  height: 29px;
}
.icon-icon-arrow_down {
  background-position: 0px -129px;
  width: 26px;
  height: 16px;
}
.icon-icon-arrow_down_hover:hover {
  background-position: -26px -129px;
  width: 26px;
  height: 16px;
}
.icon-icon-checked {
  background-position: -112px -86px;
  width: 21px;
  height: 20px;
}
.icon-icon-cross {
  background-position: 0px -35px;
  width: 36px;
  height: 36px;
}
.icon-icon-envelope {
  background-position: 0px -145px;
  width: 23px;
  height: 17px;
}
.icon-icon-github-gr {
  background-position: -112px -64px;
  width: 26px;
  height: 22px;
}
.icon-icon-github-gr_hover:hover{
  background-position: -76px -36px;
  width: 26px;
  height: 22px;
}
.icon-icon-github-round {
  background-position: -40px 0px;
  width: 36px;
  height: 36px;
}
.icon-icon-github {
  background-position: -36px -71px;
  width: 26px;
  height: 22px;
}
.icon-icon-github_hover:hover {
  background-position: -40px -36px;
  width: 26px;
  height: 22px;
}
.icon-icon-hamburger {
  background-position: 0px 0px;
  width: 40px;
  height: 35px;
}
.icon-icon-in-gr {
  background-position: -86px -71px;
  width: 24px;
  height: 22px;
}
.icon-icon-in-gr_hover:hover {
  background-position: -62px -71px;
  width: 24px;
  height: 22px;
}
.icon-icon-in-round {
  background-position: 0px -71px;
  width: 36px;
  height: 36px;
}
.icon-icon-in {
  background-position: -24px -107px;
  width: 24px;
  height: 22px;
}
.icon-icon-in_hover:hover {
  background-position: 0px -107px;
  width: 24px;
  height: 22px;
}
.icon-icon-key {
  background-position: -173px -37px;
  width: 18px;
  height: 17px;
}
.icon-icon-link {
  background-position: -173px 0px;
  width: 20px;
  height: 19px;
}
.icon-icon-login-has-input {
  background-position: -173px -71px;
  width: 15px;
  height: 17px;
}
.icon-icon-login-no-input {
  background-position: -173px -88px;
  width: 15px;
  height: 17px;
}
.icon-icon-login {
  background-position: -173px -54px;
  width: 15px;
  height: 17px;
}
.icon-icon-map-marker-sm {
  background-position: -142px -75px;
  width: 19px;
  height: 24px;
}
.icon-icon-map_marker {
  background-position: -112px 0px;
  width: 30px;
  height: 40px;
}
.icon-icon-phone {
  background-position: -173px -19px;
  width: 19px;
  height: 18px;
}
.icon-icon-skype {
  background-position: -112px -40px;
  width: 24px;
  height: 24px;
}
.icon-icon-unchecked {
  background-position: -142px -99px;
  width: 21px;
  height: 20px;
}
.icon-icon-vk-gr {
  background-position: -142px 0px;
  width: 31px;
  height: 17px;
}
.icon-icon-vk-gr_hover:hover {
  background-position: -79px -107px;
  width: 31px;
  height: 17px;
}
.icon-icon-vk-round {
  background-position: -76px 0px;
  width: 36px;
  height: 36px;
}
.icon-icon-vk {
  background-position: -110px -107px;
  width: 31px;
  height: 17px;
}
.icon-icon-vk_hover:hover {
  background-position: -48px -107px;
  width: 31px;
  height: 17px;
}