// FONTS
$font-family-title: 'bernier_regularregular';
$font-simple-text: 'robotoregular';
$font-quote: 'fontawesomeregular';
$size-simple-text: 16px;
$title-size-text: 28px;

// COLORS
$green: #00bfa5;
$dark-grey: #455a64;
$decor-grey: #cacbc8;
$border-color: rgba(255, 255, 255, .1);
$footer-color: rgba(55, 62, 66, .8);

// TRANSFORMATION
$brad: 5px;