extends ../_template

block variables
  - var title = 'About page'

block content
  include ../common/_header
  include ../common/_about-author-block
  include ../common/_content-about
  include ../common/_footer