extends ../_html-head-body

block variables
	- var title = 'Welcome page'

block content
	include ../common/_main-page-widget-container
	include ../common/_main-page-authorization-button
	include ../common/_main-page-footer