extends ../_html-head-body

block variables
  - var title = 'Works page'

block content
  include ../common/_header
  
  include ../common/_slider
  include ../common/_reference
  include ../common/_contact-block
  include ../common/_footer