extends ../_template

block variables
  - var title = 'Works page'

block content
  include ../common/_works-header
  include ../common/_slider
  include ../common/_reference
  include ../common/_footer